name: workflow

on:
  push:
    branches: ["**"]

jobs:
  lint:
    permissions:
      contents: read
    uses: ./.github/workflows/lint.yaml
  build:
    permissions:
      contents: read
    needs: [lint]
    uses: ./.github/workflows/build.yaml
  test:
    permissions:
      contents: read
    needs: [build]
    uses: ./.github/workflows/test.yaml
